<!DOCTYPE html>
<html>
	<head>
		<title>金领驾校新主页</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="__PUBLIC__/css/ck.css">
		<link rel="stylesheet" href="__PUBLIC__/css/jquery.bxslider.css">
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
		<link rel="stylesheet" href="__PUBLIC__/css/star-rating.css">
		<script src="__PUBLIC__/js/jquery-2.2.2.min.js"></script>
		<script src="__PUBLIC__/js/jquery.bxslider.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/js/jRate.js"></script>
		<!-- <script src="__PUBLIC__/js/star-rating.min.js"></script> -->
		<script type="text/javascript">
				$(function(){
						$("#jRate").jRate({
							rating: 5,
							strokeColor: 'black',
							width: 30,
							height: 30,
							precision: 0.1,
							minSelected: 1,
							startColor:'#f74675',
							endColor:'#f74675',
							readOnly: true,
							onChange: function(rating) {
								console.log("OnChange: Rating: "+rating);
							},
							onSet: function(rating) {
								console.log("OnSet: Rating: "+rating);
							}
						});
						$("#jRate2").jRate({
							rating: 4,
							strokeColor: 'black',
							width: 30,
							height: 30,
							precision: 0.1,
							minSelected: 1,
							startColor:'#f74675',
							endColor:'#f74675',
							readOnly: true,
							onChange: function(rating) {
								console.log("OnChange: Rating: "+rating);
							},
							onSet: function(rating) {
								console.log("OnSet: Rating: "+rating);
							}
						});
						$("#jRate3").jRate({
							rating: 3,
							strokeColor: 'black',
							width: 30,
							height: 30,
							precision: 0.1,
							minSelected: 1,
							startColor:'#f74675',
							endColor:'#f74675',
							readOnly: true,
							onChange: function(rating) {
								console.log("OnChange: Rating: "+rating);
							},
							onSet: function(rating) {
								console.log("OnSet: Rating: "+rating);
							}
						});
				});
		</script>
	</head>
	<body class="ckbody">
		<div id="ck">
			<header id="ckheader" class="ck-site-header sq-black">
				<div class="headbar ck-clearfix">
					<div class="ck-containter">
						<div class="">   <span></span></div>
						<div class="loginteam">
							<a href="#" class="logintiem">投诉</a>
							<a href="#" class="logintiem">登陆</a>
							<a href="#" class="logintiem">注册有礼</a>
						</div>
					</div>
				</div>
				<div class="ck-containter ck-clearfix">
					<div id="ck-site-branding"><a href="./">
					<img src="__PUBLIC__/images/logo.jpg" alt="金领驾校">
					<img src="__PUBLIC__/images/telphone.jpg" alt="">
					</a></div>
					<div class="nav-menu ck-clearfix">
						<nav id="ck-site-nav" class="ck-main-navigation">
							<div class="ck-menu">
								<ul>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">首页</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">公司简介</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">驾校咨询</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">课程费用</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">学车须知</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">网上报名</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="">联系我们</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</header>
		<div id="ck-content">
			<section id="ck-home-slider-section">
				<div class="topbanner"><img src="__PUBLIC__/images/subpage_banner.jpg" alt=""></div>

			</section>
			<section id="lineblock">
				<div class="ck-containter ck-clearfix">
					<div class="leftmenu">
						<ul>
							<li class="current"><a href="" >热门教练</a></li>
							<li><a href="">科目1教练</a></li>
							<li><a href="">科目二教练</a></li>
							<li><a href="">高通过率教练</a></li>
							<li><a href="">高评价教练</a></li>
						</ul>
						
					</div>
					<div class="rightblock ck-clearfix">
						<div class="listbk ck-clearfix">
							<img src="__PUBLIC__/images/coach.jpg" alt="">
							<div class="rightbox">
							<h3>黄小逛</h3>
							<div class="des ck-clearfix">
								<span><i>科目:</i> 科目二教练</span>
								<span><i>校区:</i> 昌南校区</span>
								<span><i>教龄:</i> 15年</span>
						
							</div>
							<div class="des ck-clearfix">
								<span><i>通过率:</i> <font color="red">99.8%</font></span>
								<span><i>学员总数:</i> <font color="red">10000</font></span>
							</div>
							<div class="des ck-clearfix"><span><i>个人简介</i></span> 个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍介绍个人介绍个人介绍介绍个人介绍个人介绍</div>
							<div class="des1 ck-clearfix">
								<span class="starcom" id="jRate"></span>
								<a class="mybtn">预约</a>
							</div>
							</div>
						</div>

						<div class="listbk ck-clearfix">
							<img src="__PUBLIC__/images/coach.jpg" alt="">
							<div class="rightbox">
							<h3>黄小逛</h3>
							<div class="des ck-clearfix">
								<span><i>科目:</i> 科目二教练</span>
								<span><i>校区:</i> 昌南校区</span>
								<span><i>教龄:</i> 15年</span>
						
							</div>
							<div class="des ck-clearfix">
								<span><i>通过率:</i> <font color="red">99.8%</font></span>
								<span><i>学员总数:</i> <font color="red">10000</font></span>
							</div>
							<div class="des ck-clearfix"><span><i>个人简介</i></span> 个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍介绍个人介绍个人介绍介绍个人介绍个人介绍</div>
							<div class="des1 ck-clearfix">
								<span class="starcom" id="jRate3"></span>
								<a class="mybtn">预约</a>
							</div>
							</div>
						</div>
							<div class="listbk ck-clearfix">
							<img src="__PUBLIC__/images/coach.jpg" alt="">
							<div class="rightbox">
							<h3>黄小逛</h3>
							<div class="des ck-clearfix">
								<span><i>科目:</i> 科目二教练</span>
								<span><i>校区:</i> 昌南校区</span>
								<span><i>教龄:</i> 15年</span>
						
							</div>
							<div class="des ck-clearfix">
								<span><i>通过率:</i> <font color="red">99.8%</font></span>
								<span><i>学员总数:</i> <font color="red">10000</font></span>
							</div>
							<div class="des ck-clearfix"><span><i>个人简介</i></span> 个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍个人介绍介绍个人介绍个人介绍介绍个人介绍个人介绍</div>
							<div class="des1 ck-clearfix">
								<span class="starcom" id="jRate2"></span>
								<a class="mybtn">预约</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			
			</section>
			
			
		
		<section id="bottominfo ck-clearfix" class="ibot">
			<div class="ck-containter ck-clearfix">
				<a href="#" class="iblock imr"><i class="b1"></i><h3>24小时免费咨询</h3><p class="pinfo">这是描述啊</p></a> 
				<a href="#" class="iblock imr"><i class="b2"></i><h3>免费上门手续</h3><p class="pinfo">这是描述啊</p></a> 
				<a href="#" class="iblock imr"><i class="b3"></i><h3>优秀教练团队</h3><p class="pinfo">这是描述啊</p></a> 
				<a href="#" class="iblock imr"><i class="b4"></i><h3>教研组手把手训练</h3><p class="pinfo">这是描述啊</p></a> 
				<a href="#" class="iblock"><i class="b5"></i><h3>3小时免费上路热身</h3><p class="pinfo">这是描述啊</p></a> 
				
			</div>
		</section>
		<footer id="ck-footer" class="ckfooter">
			<div class="ck-containter ck-clearfix">
			<nav class="mynav ck-clearfix">
				<ul>
					<li class="hasmenu">
					<a href="">驾校概况</a>
					<ul class="sbm">
						<li><a href="">驾校简介</a></li>
						<li><a href="">驾校环境</a></li>
						<li><a href="">老师风采</a></li>
						<li><a href="#">班车时刻</a></li>
					</ul>
					</li>
					<li class="hasmenu">
					<a href="">驾校咨询</a>
					 <ul class="sbm">
					 	<li><a href="">老师风采</a></li>
					 	<li><a href="">老师风采</a></li>
					 	<li><a href="">老师风采</a></li>
					 </ul>
					</li>
					<li class="hasmenu">
					<a href="">收费标准</a>
					 <ul class="sbm">
						<li><a href="">老师风采</a></li>
						<li><a href="">老师风采</a></li>
						<li><a href="">老师风采</a></li>
						<li><a href="">老师风采</a></li>
					</ul>	
					</li>
					<li class="hasmenu">
					<a href="">报名咨询</a>
					 <ul class="sbm">
					 	<li><a href="">老师风采</a></li>
					 	<li><a href="">老师风采</a></li>
					 </ul>
					</li>
					<li class="hasmenu">
					<a href="">联系我们</a>
						<ul class="sbm">
							<li><a href="">老师风采</a></li>
							<li><a href="">老师风采</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="qrcode ck-clearfix">
				<div class="conphone">
					<p>24小时免费服务热线</p>
					<h3>4000-88-0791</h3>
				</div>
				<img src="__PUBLIC__/images/qrcode_b.jpg">
			</div>
			</div>
		</footer>
		</div>
		<div id="siderbar">
			<ul>
				<li><a class="sign">报名</a></li>
				<li><a class="kf">客服</a></li>
				<li><a class="bc">班车</a></li>
				<li><a class="mnk">模拟考</a></li>
				<li><a class="sys">扫一扫</a></li>
				<li><a class="back"></a></li>
			</ul>
		</div>
	</body>
</html>